$color-green:rgb(5, 158, 5);
@mixin text-none-select {
    -ms-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none; 
}
.container-main{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
.main-h1{
    text-align: center;
}
.schema{
    text-align: center;
    @include text-none-select;
}
.schema:hover{
    text-align: center;
    background:$color-green;
    color: white;
}